[submodule "OOAD-Projekt"]
	path = OOAD/OOAD-Projekt
	url = git@github.com:WyNotRepax/OOAD-Projekt.git
[submodule "CG/CG-Projekt"]
	path = CG/CG-Projekt
	url = https://github.com/WyNotRepax/CG-Projekt.git
